.container{
    background-color: blue;
    color: blue!important;
}
h1,h2{
    text-align: center!important;
    color: white;
}

/* #jumbotron{
    background-color: black;
} */

body{
    color: white;
    background-color: blue;
    text-align: center;
    border-style: dotted;
    border-color: white;
}